OWNER_NAME="Nadeen Poorna"
PREFIX="-"
PUBLIC_MODE='non'
AUTO_READ_STATUS="non"
AUTO_DOWNLOAD_STATUS="oui"
BOT_NAME= "NADEEN_BOT"
IMAGE_MENU= "https://telegra.ph/file/c253ba5258dc2c5c2f33d.png"
NUMERO_OWNER= ""
OWNER_NAME= "᚛Nadeen Poorna᚜"
DATABASE_URL= ""
WARN_COUNT= ""
OPENAI_API_KEY= ""
STARTING_BOT_MESSAGE='yes'
ANTI_DELETE_MESSAGE='yes'
